@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,300;1,400&display=swap');

* {
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  color: white;
  background-image: linear-gradient(
      rgba(17, 23, 37, 0.9),
      rgba(17, 23, 37, 0.9)
    ),
    url(../mobile/image-host.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Chivo', sans-serif;
  overflow: hidden;
}

p {
  color: #fafafa;
  opacity: 0.55;
  font-weight: 300;
  font-size: 1rem;
  text-align: center;
  line-height: 1.5;

  margin: 45px;
}

h1 {
  color: #4da98b;
  text-align: center;
  line-height: 1.5;
  text-transform: uppercase;
  font-size: 2rem;
}

.content-container {
  width: 440px;
  padding: 14% 9%;
}

.content-container .logo {
  text-align: center;
  margin-bottom: 80px;
}

.tablet-img {
  display: none;
}

.desktop-img {
  display: none;
}

.main > h1 > span {
  color: #fafafa;
  opacity: 0.75;
}

.sponsor {
  margin-bottom: 50px;
  display: flex;
}

.sponsor > img {
  margin-right: 20px;
}

.sponsor > img:nth-of-type(1) {
  width: 4rem;
}
.sponsor > img:nth-of-type(2) {
  width: 4rem;
}
.sponsor > img:nth-of-type(3) {
  width: 7rem;
}
.sponsor > img:nth-of-type(4) {
  width: 5rem;
}

.register-form > input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 15px;
  font-size: 1rem;
  border: none;
  border-radius: 30px;
}

.register-form > input[type='email'] {
  background: rgb(46, 58, 86, 0.9);
}
.register-form > input[type='email']::placeholder {
  color: #fafafa;
  opacity: 0.55;
}

.register-form > input[type='submit'] {
  background: #54e6af;
  font-weight: bold;
}

@media only screen and (min-width: 510px) {
  .content-container {
    margin: auto;
  }
}

@media only screen and (min-width: 768px) {
  body {
    background: #111725;
  }

  .container {
    display: flex;
    width: 100%;
    height: 100%;
  }

  h1 {
    text-align: left;
    font-size: 3rem;
  }

  p {
    margin: 45px 0;
    text-align: left;
  }

  .content-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35%;
    position: relative;
    padding: 40px;
  }

  .content-container > .logo {
    text-align: left;
  }

  .tablet-img {
    display: block;
    width: 65%;
  }

  .tablet-img > img {
    height: 100%;
  }

  .front-container {
    display: flex;
    flex-direction: column;
    width: 180%;
    background-color: #111725;
    padding: 50px 40px 0 0;
    position: absolute;
    bottom: 0;
  }

  .main > p {
    width: 500px;
  }

  .register-form {
    display: flex;
    width: 500px;
  }

  .register-form > input[type='submit'] {
    margin-left: -180px;
    width: 180px;
  }

  .sponsor {
    order: 1;
    margin: 35px 0;
  }

  .sponsor > img {
    margin-right: 30px;
  }

  .sponsor > img:nth-of-type(1) {
    width: 90px;
  }
  .sponsor > img:nth-of-type(2) {
    width: 90px;
  }
  .sponsor > img:nth-of-type(3) {
    width: 160px;
  }
  .sponsor > img:nth-of-type(4) {
    width: 150px;
  }
}

@media only screen and (min-width: 1015px) {
  body {
    text-align: center;
  }

  .container {
    max-width: 1750px;
    margin-left: auto;
    margin-top: 80px;
    margin-bottom: 100px;
    display: flex;
  }

  .content-container {
    position: relative;
    width: 570px;
    border: 1px solid red;
    padding: 0;
  }

  .content-container > .logo {
    text-align: left;
  }

  .tablet-img {
    display: none;
  }

  .desktop-img {
    width: 1330px;
    display: block;
    position: relative;
  }

  .desktop-img > img:nth-of-type(1) {
    width: 100%;
  }

  .desktop-img > img:nth-of-type(2) {
    position: absolute;
    right: 0;
    bottom: -5%;
  }

  .front-container {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 170%;
    height: 64%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid red;
    padding: 100px 80px 30px 0;
  }

  .main > p {
    font-size: 1.3rem;
  }

  .register-form {
    padding: 0;
    width: 60%;
  }

  .register-form > input {
    padding: 20px;
  }

  .sponsor > img {
    margin-right: 40px;
  }
} ;
