@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,300;1,400&display=swap');

* {
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  color: white;
  background-image: linear-gradient(
      rgba(17, 23, 37, 0.9),
      rgba(17, 23, 37, 0.9)
    ),
    url(../mobile/image-host.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Chivo', sans-serif;
}

p {
  color: #fafafa;
  opacity: 0.55;
  font-weight: 300;
  font-size: 1rem;
  text-align: center;
  line-height: 1.5;

  margin: 45px;
}

h1 {
  color: #4da98b;
  text-align: center;
  line-height: 1.5;
  text-transform: uppercase;
  font-size: 2rem;
}

.content-container {
  width: 440px;
  padding: 40px 60px;
}

.content-container .logo {
  text-align: center;
  margin-bottom: 80px;
}

.tablet-img {
  display: none;
}

.desktop-img {
  display: none;
}

.main > h1 > span {
  color: #fafafa;
  opacity: 0.75;
}

.sponsor {
  margin-bottom: 50px;
  display: flex;
}

.sponsor > img {
  margin-right: 20px;
}

.register-form > input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 15px;
  font-size: 1rem;
  border: none;
  border-radius: 30px;
}

.register-form > input[type='email'] {
  background: rgb(46, 58, 86, 0.9);
}
.register-form > input[type='email']::placeholder {
  color: #fafafa;
  opacity: 0.55;
}

.register-form > input[type='submit'] {
  background: #54e6af;
  font-weight: bold;
}

@media only screen and (max-width: 414px) {
  .content-container {
    padding: 10px;
  }

  .content-container > .logo > img {
    transform: scale(0.8);
    margin-top: 20px;
  }

  .main > h1 {
    font-size: 1.3rem;
    margin-top: 50px;
  }

  .main > p {
    font-size: 14px;
  }

  .sponsor {
    display: flex;
    justify-content: center;
  }

  .sponsor > img {
    width: 60px;
  }

  .register-form {
    width: 65%;
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .register-form > input {
    padding: 12px;
  }
}

@media only screen and (min-width: 510px) {
  .content-container {
    margin: auto;
  }
}

@media only screen and (min-width: 768px) {
  body {
    background: #111725;
  }

  .container {
    display: flex;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }

  h1 {
    text-align: left;
    font-size: 3rem;
  }

  p {
    margin: 45px 0;
    text-align: left;
  }

  .content-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35%;
    position: relative;
    padding: 40px;
  }

  .content-container > .logo {
    text-align: left;
  }

  .tablet-img {
    display: block;
    width: 65%;
  }

  .tablet-img > img {
    height: 100%;
  }

  .front-container {
    display: flex;
    flex-direction: column;
    width: 180%;
    background-color: #111725;
    padding: 50px 40px 0 0;
    position: absolute;
    bottom: 0;
  }

  .main > p {
    width: 500px;
  }

  .register-form {
    display: flex;
    width: 500px;
    background-color: rgb(46, 58, 86, 0.9);
    border-radius: 40px;
    padding: 5px;
    margin-bottom: 50px;
  }

  .register-form > input {
    padding: 0;
    margin: 0;
  }

  .register-form > input[type='email'] {
    background: transparent;
    padding-left: 20px;
  }
  .register-form > input[type='submit'] {
    padding: 12px;
    width: 160px;
  }

  .sponsor {
    order: 1;
    margin: 35px 0;
  }

  .sponsor > img {
    margin-right: 30px;
    opacity: 0.7;
  }
}

@media only screen and (min-width: 1010px) {
  body {
    text-align: center;
  }

  .container {
    max-width: 1750px;
    margin-left: auto;
  }

  .content-container {
    width: 35%;
    height: 85%;
  }

  .tablet-img {
    display: none;
  }

  .desktop-img {
    width: 65%;
    height: 90%;
    display: block;
    position: relative;
  }

  .desktop-img > img:nth-of-type(1) {
    height: 100%;
  }

  .desktop-img > img:nth-of-type(2) {
    position: absolute;
    right: 0;
    bottom: -8%;
  }

  .front-container {
    z-index: 99;
    position: absolute;
    bottom: 0;
  }

  .main > p {
    width: 90%;
    font-size: 1.3rem;
  }

  .register-form {
    padding: 7px;
    width: 65%;
  }

  .register-form > input[type='submit'] {
    padding: 18px;
    width: 200px;
  }

  .sponsor > img {
    margin-right: 70px;
  }
}

/* dashboard */

.dashboard__container {
  display: flex;
}

.sidebar {
  background-color: black;
  box-sizing: border-box;
  padding: 25px 0;
  color: #fafafa;
  font-size: larger;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.sidebar ul {
  list-style: none;
  margin-top: 15px;
}

.sidebar li {
  text-align: left;
  padding: 5px 20px;
}

.sidebar li:hover {
  color: grey;
  cursor: pointer;
}

/* dashboard */
button {
  width: 150px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

button:hover {
  color: #2c3348;
  background-color: #54e6af;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.dashboard__main {
  height: 100vh;
  flex: 1;
  color: white;
  padding: 40px;
}

.featured__container {
  width: 100%;
  max-width: 950px;
  margin-bottom: 40px;
}

.featured {
  text-align: left;
  display: flex;
  background-color: rgba(138, 143, 192, 0.23);
  border-radius: 20px;
  overflow: hidden;
}

.featured > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding: 40px;
  line-height: 2;
  font-size: 1.1em;
}
.featured > div > h4 {
  opacity: 0.6;
}

.latest {
  text-align: left;
}

/* latest */
.latest h2 {
  font-size: 2.2em;
}

.shows {
  display: flex;
  margin-top: 20px;
}

.show {
  background-color: rgba(138, 143, 192, 0.23);
  line-height: 2;
  margin-right: 20px;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: background 0.4s ease;
}

.show:hover {
  background-color: rgba(138, 143, 192, 0.53);
  transition: background 0.4s ease;
}

.show:hover img {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.show > img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: 15px;
}

.show h5 {
  opacity: 0.6;
}

/* detailed page */
.show__container {
  height: 100%;
  display: flex;
  /* overflow-x: hidden; */
}
.show__main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}

.sticky__header {
  display: none;
  background-color: #14396e;
  height: 200px;
  text-align: left;
  padding: 20px;
  font-weight: bolder;
  font-size: 1.5em;
  position: sticky;
  top: 0;
  z-index: 100;
  transition: display 1s ease-in;
}

.fade__in {
  display: block;
  transition: display 1s ease-in;
}

.detail__header {
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding: 50px;
  background: linear-gradient(
    180deg,
    rgba(36, 95, 187, 1) 17%,
    rgba(98, 148, 208, 0.9500175070028011) 86%
  );
}

.detail__header > img {
  border-radius: 20px;
}

.detail__header > div {
  text-align: left;
  font-size: 1.2em;
  line-height: 1.5;
  padding: 20px;
}

.audio {
  text-align: left;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: larger;
  background: #2c3348;
  width: 200px;
  padding: 10px;
  border-radius: 35px;
  justify-content: space-between;
  transition: box-shadow 0.2s ease-in;
}

.audio > .play__button {
  width: 45px;
  overflow: hidden;
}

.audio > h4 {
  flex: 1;
  text-align: center;
}

.play_button {
  width: 45px;
  overflow: hidden;
}

.episodes__container > h2 {
  padding: 20px;
  text-align: left;
}

.episode {
  display: flex;
  align-items: center;
  padding: 20px;
  height: 160px;
  transition: background-color 0.2s ease;
}

.episode:hover {
  background-color: #232946;
  cursor: pointer;
}

.episode:hover img,
.episode:hover .audio {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.episode > img {
  width: 130px;
  border-radius: 10px;
}

.episode > .episode__details {
  padding: 20px;
  max-width: 500px;
  min-width: 500px;
  text-align: left;
}
