@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,300;1,400&display=swap');

* {
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  color: white;
  background-image: linear-gradient(
      rgba(17, 23, 37, 0.9),
      rgba(17, 23, 37, 0.9)
    ),
    url(../mobile/image-host.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Chivo', sans-serif;
  overflow: hidden;
}

p {
  color: #fafafa;
  opacity: 0.55;
  font-weight: 300;
  font-size: 1rem;
  text-align: center;
  line-height: 1.5;

  margin: 45px;
}

h1 {
  color: #4da98b;
  text-align: center;
  line-height: 1.5;
  text-transform: uppercase;
  font-size: 2rem;
}

.content-container {
  width: 440px;
  padding: 60px 40px;
}

.content-container .logo {
  text-align: center;
  margin-bottom: 80px;
}

.tablet-img {
  display: none;
}

.main > h1 > span {
  color: #fafafa;
  opacity: 0.75;
}

.sponsor {
  margin-bottom: 50px;
}

.sponsor > img {
  margin-right: 20px;
}

.sponsor > img:nth-of-type(1) {
  width: 65px;
}
.sponsor > img:nth-of-type(2) {
  width: 65px;
}
.sponsor > img:nth-of-type(3) {
  width: 125px;
}
.sponsor > img:nth-of-type(4) {
  width: 90px;
}

.register-form > input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 15px;
  font-size: 1rem;
  border: none;
  border-radius: 30px;
}

.register-form > input[type='email'] {
  background: rgb(46, 58, 86, 0.9);
}
.register-form > input[type='email']::placeholder {
  color: #fafafa;
  opacity: 0.55;
}

.register-form > input[type='submit'] {
  background: #54e6af;
  font-weight: bold;
}

/* Tablet */
@media only screen and (min-width: 550px) {
  body {
    display: flex;
    background: #111725;
  }

  h1 {
    text-align: left;
    font-size: 3rem;
  }

  p {
    margin: 45px 0;
    text-align: left;
  }

  .content-container {
    width: 35%;
    position: relative;
  }

  .front-container {
    position: absolute;
    margin-top: 60px;
    background-color: #111725;
    z-index: 99;
    width: 650px;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
  }

  .tablet-img {
    display: block;
    width: 65%;
  }

  .register-form {
    display: flex;
    padding: 10px;
  }

  .register-form > input[type='submit'] {
    margin-left: -180px;
    width: 180px;
  }

  .sponsor {
    order: 1;
    margin: 35px 0;
  }

  .sponsor > img {
    margin-right: 30px;
  }

  .sponsor > img:nth-of-type(1) {
    width: 90px;
  }
  .sponsor > img:nth-of-type(2) {
    width: 90px;
  }
  .sponsor > img:nth-of-type(3) {
    width: 170px;
  }
  .sponsor > img:nth-of-type(4) {
    width: 150px;
  }
} ;
